.message-list-container {
  list-style: none;
  overflow-y: auto;
}

.message-list {
  list-style: none;
  overflow-y: auto;
  /* background-color: green; */
}

.message {
  padding: 0.5em;
  margin-bottom: 10px;
  clear: both;
  display: flex;
  flex-direction: column; /* Stack sender name and message bubble */
  align-items: flex-start; /* Align items to the left by default */
  margin-bottom: 10px;
}

.sender-id {
  font-size: 0.85em;
  color: var(--main-text-color);
  margin-bottom: 0.25em;
}

.message-bubble {
  background-color: var(--main-color);
  padding: 10px 15px;
  border-radius: 20px;
  display: inline-block; /* Display as an inline block */
  margin-bottom: 2px;
  max-width: 40%; /* Adjust the width as needed */
  word-wrap: break-word; /* Break long words onto the next line */
  overflow-wrap: break-word; /* Break long words to prevent overflow */
  white-space: normal;
}

.message-text {
  background: var(--main-color);
  color: var(--secondary-color);
  display: inline-block;
  padding: 0.5em;
  border-radius: 15px;
  max-width: 80%; /* Adjust based on your preference */
}

.my-message {
  text-align: right;
  align-items: flex-end;
}

.other-message {
  text-align: left;
  align-self: flex-start;
}

.other-message-text {
  background: var(--main-color);
}

.delete-button {
  display: inline-block;
  margin-left: 10px;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
}

.sender-name {
  font-size: 0.85em;
  margin-bottom: 4px;
}

.chat-container {
  display: flex;
  flex-direction: column;
}
